DEBUG=False
ALLOWED_HOSTS=api.growth.vin,<alb-dns-name>
CSRF_TRUSTED_ORIGINS=https://growth.vin,https://www.growth.vin,https://admin.growth.vin,https://api.growth.vin
CORS_ALLOWED_ORIGINS=https://growth.vin,https://www.growth.vin,https://admin.growth.vin
CORS_ALLOWED_ORIGIN_REGEXES=^https://.*\.growth\.vin$
SECURE_SSL_REDIRECT=False
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
DB_CONN_MAX_AGE=0
DB_SSL_REQUIRE=True
DRF_PAGE_SIZE=25
DRF_THROTTLE_ANON=60/min
DRF_THROTTLE_USER=300/min
DRF_THROTTLE_HUBBLE_WEBHOOK=600/min
DATA_UPLOAD_MAX_MEMORY_SIZE=5242880
FILE_UPLOAD_MAX_MEMORY_SIZE=5242880
MAIL_ENABLED=True
EMAIL_HOST=smtp.zoho.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=contact@trikonekt.com
EMAIL_TIMEOUT=10
SERVER_EMAIL=contact@trikonekt.com
SKIP_HEAVY_ON_APPROVE=False
COUPON_DIST_BATCH=50
MONTHLY_759_BATCH=50
PYTHONUNBUFFERED=1
